<a href="https://colab.research.google.com/github/rajshreeathawale/python_Ass/blob/main/python_Ass4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Assignment -4**

Q1.Write a function translate() that will translate a. That is, double
every consonant and place an occurrence of "o" in between. For
example, translate("this is fun") should return the string "tothohisos
isos fofunon".

In [ ]:
def translate(Str):
    New_str=""
    for i in Str:
        if i.isalpha() and i.lower() not in "aeiou":
            New_str+=i + 'o' + i
        else:
            New_str+=i
    return New_str
Str ="this is fun"
result = translate(Str)
print(result)

tothohisos isos fofunon

Q2. Write a program that contains a function that has one parameter,
n, representing an integer greater than 0. The function should return
n! (n factorial). Then write a main function that calls this function
with the values 1 through 20, one at a time, printing the returned
results. This is what your output should look like:

1 1

2 2

3 6 etc

In [ ]:
def factorial(n):
    if n==0:
        return 1
    else:
        result=1
        for i in range(1,n+1):
            result*=i
        return result
def main():
    for n in range(1,21):
        result=factorial(n)
        print("Factorial of",n,":",result)
main()

Factorial of 1 : 1
Factorial of 2 : 2
Factorial of 3 : 6
Factorial of 4 : 24
Factorial of 5 : 120
Factorial of 6 : 720
Factorial of 7 : 5040
Factorial of 8 : 40320
Factorial of 9 : 362880
Factorial of 10 : 3628800
Factorial of 11 : 39916800
Factorial of 12 : 479001600
Factorial of 13 : 6227020800
Factorial of 14 : 87178291200
Factorial of 15 : 1307674368000
Factorial of 16 : 20922789888000
Factorial of 17 : 355687428096000
Factorial of 18 : 6402373705728000
Factorial of 19 : 121645100408832000
Factorial of 20 : 2432902008176640000

Q3.Write a function find_longest_word() that takes a list of words and
returns the length of the longest one.

In [ ]:
def find_longest_word(wl):
    ln=len(wl[0])
    for word in wl:
        if len(word)>ln:
            ln = len(word)
    return ln
words =["Stars","sun","moon"]
ln=find_longest_word(words)
print("The length of the longest word :",ln)

The length of the longest word : 5

Q4.Define a simple "spelling correction" function correct () that takes a
string and sees to it that
a)two or more occurrences of the space character is compressed into one,
and

b)inserts an extra space after a period if the period is directly followed
by a letter. e.g. correct ("This is very funny and cool.Indeed!") should
return "This is very funny and cool. Indeed!"

In [ ]:
def correct(str):
    corr_str=' '.join(str.split())
    corr_str=corr_str.replace('.','. ')
    return corr_str
str="This is very funny and cool.indeed!"
corr_str=correct(str)
print("The corrected string :",corr_str)

The corrected string : This is very funny and cool. indeed!

Q5.In English, the present participle is formed by adding the suffix -ing
to the infinite form: go -> going. A simple set of heuristic rules can be
given as follows:

a) If the verb ends in e, drop the e and add ing (if not exception: be,see, flee, knee, etc.)

b) If the verb ends in ie, change ie to y and add ing

c) For words consisting of consonant-vowel-consonant, double the final
letter before adding ing

d) By default just add ing
Your task in this exercise is to define a function make_ing_form() which,
given a verb in infinitive form, returns its present participle form. Test
your function with words such as lie, see, move and hug. However, you
must not expect such simple rules to work for all cases.

In [ ]:
def par(v):
    if v.endswith("e") and v not in ["be","see","flee","knee"]:
        return v[:-1]+'ing'
    if v.endswith("ie"):
        return v+"ying"
    if len(v)>=3 and v[-3] not in "aeiou" and v[-2] in "aeiou" and v[-1] not in "aeiou":
        return v + iv[-1]+'ing'
    return v+ "ing"
v=input("Enter a verb :")
p=par(v)
print("The present participle of ",v,":",p)

Enter a verb :fly
The present participle of  fly : flying

Q6.Make the program of network error codes done yesterday with
match-case.

In [ ]:
def net_err(err_Code):
    match err_code:
        case 200:
            print("Bad Request.")
        case 201:
            print("unauthorised.")
        case 202:
            print("Forbidden .")
        case 203:
            print("service Unavailable")
        case _:
            print("Unknown Error")
err_code=int(input("Enter a network error code"))
net_err(err_code)

Enter a network error code201
unauthorised.

Q7Define a class Student with data members rollno, name, mark1, mark2,
mark3, total, avg. Use appropriate method for entering the details and
displaying the details. Also define a method for calculating the total mark
and average. Create an object for the class and invoke all the methods.

In [ ]:
class student:
    def __init__(self,rn,n,m1,m2,m3,t,a):
        self.rollno = rn
        self.name=n
        self.marks1=m1
        self.marks2=m2
        self.marks3=m3
        self.total=t
        self.avg=a
    def std_details(self):
        print(self.rollno)
        print(self.name)
        print(self.marks1)
        print(self.marks2)
        print(self.marks3)
    def marks_total(self):
        self.total=self.marks1 + self.marks2 + self.marks3
        print(self.total)
    def cal_avg(self):
        self.avg=self.total/3
        print(self.avg)
    def display_details(self):
        print("Roll no :",self.rollno)
        print("Name :",self.name)
        print("Marks 1 :",self.marks1)
        print("Marks 2 :",self.marks2)
        print("Marks 3 :",self.marks3)
        print("Total Marks :",self.total)
        print("Average Marks :",self.avg)

std=student(11,"Rashi",98,99,97,0,0.0)
std.std_details()
std.marks_total()
std.cal_avg()
std.display_details()

11
Rashi
98
99
97
294
98.0
Roll no : 11
Name : Rashi
Marks 1 : 98
Marks 2 : 99
Marks 3 : 97
Total Marks : 294
Average Marks : 98.0

Q8Create a class corresponding to BankAccount with the data members
accno, custname, balamt. Use two methods for entering the details and
displaying the details. Define one more method for checking whether the
balamt is greater than 20,000 and display a corresponding message.
Create an object for the class and invoke all the methods.

In [ ]:
class BankAccount:
    def __init__(self,an,cn,bamt):
        self.accno=an
        self.custname=cn
        self.balamt=bamt
    def acc_details(self):
        print(self.accno)
        print(self.custname)
        print(self.balamt)
    def display_details(self):
        print("Account Number :",self.accno)
        print("Customer Name :",self.custname)
        print("Balance Amount :",self.balamt)
    def check_bal(self):
        if self.balamt>20000:
            print("Balance is greater than 20000 .")
        else:
            print("Balance is not greater than 20000 .")
ac=BankAccount(23452,"Rashi",25000)
ac.acc_details()
ac.display_details()
ac.check_bal()

23452
Rashi
25000
Account Number : 23452
Customer Name : Rashi
Balance Amount : 25000
Balance is greater than 20000 .

Q9Write a python program to demonstrate method overloading.

In [ ]:
def sum(a,b=20,c=50):
    print(a+b+c)
sum(100)
sum(50,60)
sum(10,50,60)

170
160
120

Q10.Write a program to demonstrate inheritance in python.

In [ ]:
class Bird:
    def __init__(self,e,l):
        self.eyes=e
        self.legs=l

    def fly(self):
        print("Birds can fly.")
    def chirp(self):
        print("Birds can chirp .")
class Eagle(Bird):
    def __init__(self,e,l):
        super().__init__(e,l)
        print("Its a subclass of super class.")
    def eat(self):
        print("Eagle eats Snakes.")
    def display(self):
        print(self.eyes)
        print(self.legs)
e=Eagle(2,2)
e.fly()
e.chirp()
e.eat()
e.display()

Its a subclass of super class.
Birds can fly.
Birds can chirp .
Eagle eats Snakes.
2
2

Q11.Write a Python program to check that a string contains only a certain
set of characters (in this case a-z, A-Z and 0-9).

In [ ]:
import re
pattern=r'^[a-zA-z0-9]+$'
str='abcdABCD01234'
match = re.match(pattern,str)
if match:
    result =True
else:
    result= False
print(result)

True

Q12.Write a Python program that matches a string that has an a followed
by zero or more b's

In [ ]:
import re
pattern =r'ab*'
print(re.search(pattern,'abcbb1012300'))

<re.Match object; span=(0, 2), match='ab'>

Q13.Write a Python program that matches a string that has an a followed
by one or more b's

In [ ]:
import re
pattern=r'ab+'
print(re.search(pattern,'acbbabchd'))

<re.Match object; span=(4, 6), match='ab'>

Q14.Write a Python program that matches a string that has an a followed
by zero or one 'b'

In [ ]:
import re
pattern=r'ab?'
print(re.search(pattern,'cbbabchd'))

<re.Match object; span=(3, 5), match='ab'>

Q15.Write a Python program that matches a string that has an a followed
by three 'b'

In [ ]:
import re
pattern=r'ab{3}'
print(re.search(pattern,'abcbbabbbbchd'))

<re.Match object; span=(5, 9), match='abbb'>

Q16.Write a Python program that matches a string that has an a followed
by two to three 'b'.

In [ ]:
import re
pattern=r'ab{2,3}'
print(re.search(pattern,'cabbbbchd'))

<re.Match object; span=(1, 5), match='abbb'>

Q17.Write a Python program to find sequences of lowercase letters
joined with a underscore.

In [ ]:
import re
pattern=r'[a-z]+[a-z]+'
print(re.findall(pattern,'cabbbbchd,agss_gbjsdhgaj'))

['cabbbbchd', 'agss', 'gbjsdhgaj']

Q18.Write a Python program to find the sequences of one upper case letter followed by lower case letters.

In [ ]:
import re
pattern=r'[A-Z][a-z]+'
print(re.findall(pattern,'Good Morning everyone '))

['Good', 'Morning']

Q19.Write a Python program that matches a string that has an 'a'
followed by anything, ending in 'b'.

In [ ]:
import re
pattern=r'e.*b$'
print(re.search(pattern,'asdjheasdb'))

<re.Match object; span=(5, 10), match='easdb'>

Q20.Write a Python program that matches a word at the beginning of a
string.

In [ ]:
import re
pattern=r'^\w+'
print(re.search(pattern,'wellcome to the world'))

<re.Match object; span=(0, 8), match='wellcome'>

Q21.Write a Python program that matches a word at the end of a string,
with optional punctuation.

In [ ]:
import re
pattern=r'\w+\W*$'
print(re.search(pattern,'wellcome to the World '))

<re.Match object; span=(16, 22), match='World '>

Q22.Write a Python program that matches a word containing 'z'

In [ ]:
import re
pattern=r'\w*z\w*'
print(re.search(pattern,'wellcome to the World zeenat '))

<re.Match object; span=(22, 28), match='zeenat'>

Q23.Write a Python program that matches a word containing 'z', not at
the start or end of the word.

In [ ]:
import re
pattern=r'\b\w*z\w*\b'
print(re.search(pattern,'wellcome to the World zeenat '))

<re.Match object; span=(22, 28), match='zeenat'>

Q24.Write a Python program to match a string that contains only upper
and lowercase letters, numbers, and underscores.

In [ ]:
import re
pattern=r'^[a-zA-Z0-9_]+$'
print(re.search(pattern,'Python2_3'))

<re.Match object; span=(0, 9), match='Python2_3'>

Q25.Write a Python program where a string will start with a specific
number.

In [ ]:
import re
pattern=r'^\d+'
print(re.search(pattern,'1ra2hi'))

<re.Match object; span=(0, 1), match='1'>

Q26.Write a Python program to remove leading zeros from an IP address

In [ ]:
import re
pattern=r'\b0+(\d+)\b'
re.sub(pattern,r'\1','123.0025.235')

'123.25.235'

Q27.Write a Python program to check for a number at the end of a
string.

In [ ]:
import re
pattern=r'\d+$'
re.search(pattern,'asd123')

Q28.Write a Python program to search the numbers (0-9) of length
between 1 to 3 in a given string.

In [ ]:
import re
pattern=r'\d{1,3}'
re.findall(pattern,' 12453 asd0134 ')

['124', '53', '013', '4']

Q29Write a Python program to replace whitespaces with an underscore
and vice versa.

In [ ]:
import re
pattern=r'[ _]+'
print(re.sub(r'_',' ','Hello_world...Good_morning'))
print(re.sub(r' ','_','Hello_world...Good morning'))

Hello world...Good morning
Hello_world...Good_morning

Q30.Write a Python program to convert a date of yyyy-mm-dd format to
dd-mm-yyyy format.

In [ ]:
import re
pattern=r'(\d{4})-(\d{1,2})-(\d{1,2})'

re.sub(pattern,r'\3-\2-\1','2023-11-4')

'4-11-2023'

Q31.Write a Python program to separate and print the numbers of a given
string.

In [ ]:
import re
pattern=r'\d+'
num=(re.findall(pattern,'This are some numbers 136 1578 5682 in the string'))
for n in num:
    print("Numbers in string :"n)

136
1578
5682

Q32Write a Python program to find all words starting with 'a' or 'e' in a
given string.

In [ ]:
import re
pattern=r'\b[ae]\w+'
print(re.findall(pattern,'An apple a day keeps doctor away ,eat a fruit everyday'))

['apple', 'away', 'eat', 'everyday']

Q33.Write a Python program to abbreviate 'Road' as 'Rd.' in a given
string.

In [ ]:
import re
pattern=r'\bRoad\b'
print(re.sub(pattern,'Rd.','Road'))

Rd.