<a href="https://colab.research.google.com/github/rajshreeathawale/python_Ass/blob/main/python_ass5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**python assignment 5**

Q2.Write a python program to implement multiple exceptions with else and
Finally statements.

In [ ]:
b=1
try:
    a=10/b
    n=12
    print(n)
    l=[10,20,30]
    print(l[11])
except (ZeroDivisionError,NameError,IndexError) as e:
    print(e)
finally:
    print("This will be printed...")
print("This will not be printed...")

12
list index out of range
This will be printed...
This will not be printed...

Q4.Find words in a sentence with more than 4 letters using list comprehension.

In [ ]:
text="Find words in sentence.. "
s=[word for word in text.split() if len(word)>4]
print(s)

['words', 'sentence..']

Q5.Find all of the numbers from 1-1000 that are divisible by 7 using list
comprehension.

In [ ]:
s=[i for i in range(1,1001) if i%7==0]
print("Numbers divisible by 7:",s)

Numbers divisible by 7: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

Q6 Write a Python program to sort a tuple by its float element, using lambda
function.

Sample data: (('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'))

Expected Output: (('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20'))

In [ ]:
d= (('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'))
sd=sorted(d,key=lambda x:float(x[1]),reverse=True)
print(tuple(sd))

(('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20'))

Q7Write a python program to read a list of numbers and if an even number is
there calculate the square and print the converted list. Use lambda and map
functions.

In [ ]:
def check(n):
    if n%2==0:
        return n**2
    else:
        return n
n=[1,2,3,4,5,6,7,8,9,10]
l=map(check,n)
print(list(l))

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]